body {
  color: #666666;
  background: #333 url(/images/pink_flower_pattern.jpg); }

a {
  color: #811236;
  text-decoration: none; }
  a:hover {
    color: #c73765; }
  a:visited {
    color: #811236; }
    a:visited:hover {
      color: #c73765; }

.container_12 {
  margin-top: 2em;
  background: #fff;
  border: 4px solid #95445e; }
  .container_12 p img {
    padding: 1em; }

#header {
  background: #c73765 url('/images/watermelon-texture.jpg');
  padding: 20px 0px;
  height: 100px;
  margin: 0; }
  #header h1 {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
    color: white;
    font-size: 5em; }
  #header p {
    margin: -40px 0 0 255px;
    font-family: monospace; }
  #header a, #header a:hover, #header a:visited {
    color: #c73765;
    text-decoration: none; }

div#navigation ul {
  margin: 0;
  float: left;
  width: 100%; }
div#navigation ul li {
  list-style: none;
  text-align: center;
  display: inline; }
  div#navigation ul li a, div#navigation ul li a:visited {
    font-size: 20px;
    color: white;
    background-color: #95445e;
    width: 150px;
    float: left;
    padding: 0.2em 1em;
    border-right: 0.1em solid white;
    text-decoration: none; }
    div#navigation ul li a:hover, div#navigation ul li a:visited:hover {
      background-color: #e3688f; }
div#navigation ul li#last a {
  border-color: #95445e; }
  div#navigation ul li#last a:hover {
    border-color: #e3688f; }

#body {
  background: #fff;
  margin: 20px 0px;
  padding: 20px 0px; }
  #body h2 {
    color: #c73765;
    margin: 1em 0 0.2em -1em;
    font-size: 3em; }
  #body .center {
    text-align: center; }
  #body p {
    font-size: 110%; }

#registry {
  margin-top: 2em;
  text-align: center; }

#footer {
  text-align: center;
  color: #666666; }
  #footer p {
    border-top: 1px solid #999; }

.strike {
  text-decoration: line-through; }
